@use 'tools/index' as *;
@use 'settings/_breakpoints' as *;

.cardContainer {
  list-style: none;
  margin-bottom: rem(40);
  margin-top: rem(40);
  padding-left: 0;
}

@media only screen and (min-width: $lg) {
  .cardContainer {
    align-content: center;
    display: grid;
    grid-gap: rem(48) rem(56);
    grid-template-columns: repeat(4, 21.37%);
    justify-items: center;
    padding-bottom: rem(40);
  }
}

@media only screen and (max-width: $lg) {
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    grid-gap: rem(40);
    justify-content: center;
  }
}
