@use 'tools/get-color' as *;
@use 'tools/index' as *;
@use 'settings/colors-type' as typeColors;
@use 'sass:map';

$base-font-size: 1em;

:root {
  --header-height: 4.8125rem;
  --webdoor-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  user-select: none;
}

html {
  font-size: $base-font-size;
}

html,
body {
  font-family: Roboto, Helvetica, sans-serif;

  // firefox custom scrollbar
  scrollbar-color: get-color(primary) get-color(secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  letter-spacing: 2px;
}

body {
  background-color: var(--current-body-background);
  scrollbar-arrow-color: get-color(primary);

  // ie and edge custom scroll bar
  scrollbar-face-color: get-color(primary);
  scrollbar-shadow-color: get-color(primary); // border
  scrollbar-track-color: get-color(secondary);
  scrollbar-width: auto;
}

// chrome custom scroll bar
body::-webkit-scrollbar {
  height: rem(15);
  width: rem(15);
}

body::-webkit-scrollbar-track {
  background-color: get-color(primary);
  border-radius: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: get-color(secondary);
  border-radius: 0;
}

.body-transition {
  transition: background-color 0.28s ease-out;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

@each $type, $color in typeColors.$defaults {
  body.#{$type} {
    --current-light-type-color: #{map.get(typeColors.$lights, $type)};
    --current-dark-type-color: #{map.get(typeColors.$darks, $type)};
    --current-type-color: #{map.get(typeColors.$defaults, $type)};
    --current-body-background: #{map.get(typeColors.$lights, $type)};
  }
}
