/* Gengar */
.shiny .gengar_svg__outline {
  stroke: #49A0DC;
}

.shiny .gengar_svg__body {
  fill: #3D2F51;
  stroke: #3D2F51;
}

.shiny .gengar_svg__eye {
  fill: #49A0DC;
}

.shiny .crobat_svg__outline {
  stroke: #49A0DC;
}

.shiny .zubat_svg__outline {
  stroke: #49A0DC;
}

/* Koffing */
.shiny .koffing_svg__shadow {
  fill: #75606F;
  stroke: #75606F;
}

.shiny .koffing_svg__sign {
  fill: #F8F6D2;
  stroke: #64908B;
}

.shiny .koffing_svg__body {
  fill: #74A6A0;

}

.shiny .koffing_svg__body-outline {
  stroke: #64908B;
}

.shiny .koffing_svg__outline {
  fill: #64908B;
  stroke: #64908B;
}

.shiny .smoke-variation-1_svg__smoke,
.shiny .smoke-variation-2_svg__smoke,
.shiny .smoke-variation-3_svg__smoke,
.shiny .smoke-variation-4_svg__smoke {
  fill: #B18FA8;
  stroke: #64908B;
}

.shiny .smoke-variation-1_svg__outline,,
.shiny .smoke-variation-4_svg__outline {
  stroke: #64908B;
}

.shiny .smoke-variation-1_svg__shadow,
.shiny .smoke-variation-2_svg__shadow,
.shiny .smoke-variation-3_svg__shadow,
.shiny .smoke-variation-4_svg__shadow {
  fill: #75606F;
  stroke: #75606F;
}

.shiny .sign_svg__sign {
  stroke: #64908B;
}

.shiny .sign_svg__background {
  fill: #9EC2AA;
  stroke: #64908B;
}

.shiny .sign_svg__outline {
  stroke: #64908B;
}

.shiny .sign_svg__shadow {
  fill: #75606F;
  stroke: #75606F;
}
