/* Gengar */
.shiny .gengar_svg__outline {
  stroke: #49A0DC;
}

.shiny .gengar_svg__body {
  fill: #3D2F51;
  stroke: #3D2F51;
}

.shiny .gengar_svg__eye {
  fill: #49A0DC;
}

.shiny .crobat_svg__outline {
  stroke: #49A0DC;
}

.shiny .zubat_svg__outline {
  stroke: #49A0DC;
}

/* Koffing */
.shiny .koffing_svg__shadow {
  fill: #75606F;
  stroke: #75606F;
}

.shiny .koffing_svg__sign {
  fill: #F8F6D2;
  stroke: #64908B;
}

.shiny .koffing_svg__body {
  fill: #74A6A0;

}

.shiny .koffing_svg__body-outline {
  stroke: #64908B;
}

.shiny .koffing_svg__outline {
  fill: #64908B;
  stroke: #64908B;
}

.shiny .smoke-variation-1_svg__smoke,
.shiny .smoke-variation-2_svg__smoke,
.shiny .smoke-variation-3_svg__smoke,
.shiny .smoke-variation-4_svg__smoke {
  fill: #B18FA8;
  stroke: #64908B;
}

.shiny .smoke-variation-1_svg__outline,,
.shiny .smoke-variation-4_svg__outline {
  stroke: #64908B;
}

.shiny .smoke-variation-1_svg__shadow,
.shiny .smoke-variation-2_svg__shadow,
.shiny .smoke-variation-3_svg__shadow,
.shiny .smoke-variation-4_svg__shadow {
  fill: #75606F;
  stroke: #75606F;
}

.shiny .sign_svg__sign {
  stroke: #64908B;
}

.shiny .sign_svg__background {
  fill: #9EC2AA;
  stroke: #64908B;
}

.shiny .sign_svg__outline {
  stroke: #64908B;
}

.shiny .sign_svg__shadow {
  fill: #75606F;
  stroke: #75606F;
}


/* Butterfree */

.shiny .butterfree_svg__wings {
  fill: #FBEEEE;
  stroke: #FACED3;
}

.shiny .butterfree_svg__body {
  fill: #78708D;
  stroke: #5C5577;
}

.shiny .butterfree_svg__lines {
  stroke: #302F2F;
}

.shiny .butterfree_svg__limbs {
  fill: #FCA59D;
  stroke: #D57069;
}

.shiny .butterfree_svg__eyes {
  fill: #4DDE4D;
  stroke: #0AC002;
}

.shiny .butterfree_svg__shadow {
  fill: #A96868;
  stroke: #A96868;
}

.shiny .petal-1_svg__petal,
.shiny .petal-2_svg__petal,
.shiny .petal-3_svg__petal,
.shiny .petal-4_svg__petal,
.shiny .petal-5_svg__petal,
.shiny .petal-6_svg__petal,
.shiny .petal-7_svg__petal,
.shiny .petal-8_svg__petal,
.shiny .petal-9_svg__petal, {
  fill: #F86262;
  stroke: #D35F5F;
}


.shiny .lapras_svg__body {
  fill: #C59AFB;
  stroke: #68419D;
}

.shiny .lapras_svg__body-details {
  stroke: #68419D;
}

.shiny .lapras_svg__body-spot {
  fill: #68419D;
}

.shiny .lapras_svg__shell {
  fill: #B497A3;
  
}

.shiny .lapras_svg__shell-details {
  stroke:  #927686;
}



.shiny .bubble-1_svg__bubble,
.shiny .bubble-2_svg__bubble,
.shiny .bubble-3_svg__bubble {
  fill: #7885F4;
}


/* glalie */
.shiny .glalie_svg__body-line {
  stroke: #53415F;
}


.shiny .glalie_svg__eye {
  fill: #FF8C6B;
  stroke: #53415F;
}

.shiny .glalie_svg__eye-shadow {
  fill: #C65C4C;
  stroke: #C65C4C;
}

.shiny .glalie_svg__eye-shadow-dark {
  fill: #AF4A3B;
}

.shiny .glalie_svg__body {
  fill: #CCE2FC;
  stroke: #CCE2FC;
}

.shiny .glalie_svg__body-shadow {
  fill: #B6CADA;
  stroke: #B6CADA;
}

.shiny .glalie_svg__dark-parts-shadow {
  fill: #414141;
  stroke: #323131;
}

.shiny .glalie_svg__dark-parts-light {
  fill: #7F8597;
  stroke: #7F8597;
}



.shiny .snow-flake_svg__snow-flake {
  stroke: #53415F;
}
