/* Gengar */

.shiny .gengar_svg__outline {
  stroke: #49A0DC;
}

.shiny .gengar_svg__body {
  fill: #3D2F51;
  stroke: #3D2F51;
}

.shiny .gengar_svg__eye {
  fill: #49A0DC;
}

.shiny .crobat_svg__outline {
  stroke: #49A0DC;
}

.shiny .zubat_svg__outline {
  stroke: #49A0DC;
}

/* Koffing */

.shiny .koffing_svg__shadow {
  fill: #75606F;
  stroke: #75606F;
}

.shiny .koffing_svg__sign {
  fill: #F8F6D2;
  stroke: #64908B;
}

.shiny .koffing_svg__body {
  fill: #74A6A0;

}

.shiny .koffing_svg__body-outline {
  stroke: #64908B;
}

.shiny .koffing_svg__outline {
  fill: #64908B;
  stroke: #64908B;
}

.shiny .smoke-variation-1_svg__smoke,
.shiny .smoke-variation-2_svg__smoke,
.shiny .smoke-variation-3_svg__smoke,
.shiny .smoke-variation-4_svg__smoke {
  fill: #B18FA8;
  stroke: #64908B;
}

.shiny .smoke-variation-1_svg__outline,,
.shiny .smoke-variation-4_svg__outline {
  stroke: #64908B;
}

.shiny .smoke-variation-1_svg__shadow,
.shiny .smoke-variation-2_svg__shadow,
.shiny .smoke-variation-3_svg__shadow,
.shiny .smoke-variation-4_svg__shadow {
  fill: #75606F;
  stroke: #75606F;
}

.shiny .sign_svg__sign {
  stroke: #64908B;
}

.shiny .sign_svg__background {
  fill: #9EC2AA;
  stroke: #64908B;
}

.shiny .sign_svg__outline {
  stroke: #64908B;
}

.shiny .sign_svg__shadow {
  fill: #75606F;
  stroke: #75606F;
}

/* Butterfree */

.shiny .butterfree_svg__wings {
  fill: #FBEEEE;
  stroke: #FACED3;
}

.shiny .butterfree_svg__body {
  fill: #78708D;
  stroke: #5C5577;
}

.shiny .butterfree_svg__lines {
  stroke: #302F2F;
}

.shiny .butterfree_svg__limbs {
  fill: #FCA59D;
  stroke: #D57069;
}

.shiny .butterfree_svg__eyes {
  fill: #4DDE4D;
  stroke: #0AC002;
}

.shiny .butterfree_svg__shadow {
  fill: #A96868;
  stroke: #A96868;
}

.shiny .petal-1_svg__petal,
.shiny .petal-2_svg__petal,
.shiny .petal-3_svg__petal,
.shiny .petal-4_svg__petal,
.shiny .petal-5_svg__petal,
.shiny .petal-6_svg__petal,
.shiny .petal-7_svg__petal,
.shiny .petal-8_svg__petal,
.shiny .petal-9_svg__petal, {
  fill: #F86262;
  stroke: #D35F5F;
}

.shiny .lapras_svg__body {
  fill: #C59AFB;
  stroke: #68419D;
}

.shiny .lapras_svg__body-details {
  stroke: #68419D;
}

.shiny .lapras_svg__body-spot {
  fill: #68419D;
}

.shiny .lapras_svg__shell {
  fill: #B497A3;
  
}

.shiny .lapras_svg__shell-details {
  stroke:  #927686;
}

.shiny .bubble-1_svg__bubble,
.shiny .bubble-2_svg__bubble,
.shiny .bubble-3_svg__bubble {
  fill: #7885F4;
}

/* Glalie */

.shiny .glalie_svg__body-line {
  stroke: #53415F;
}

.shiny .glalie_svg__eye {
  fill: #FF8C6B;
  stroke: #53415F;
}

.shiny .glalie_svg__eye-shadow {
  fill: #C65C4C;
  stroke: #C65C4C;
}

.shiny .glalie_svg__eye-shadow-dark {
  fill: #AF4A3B;
}

.shiny .glalie_svg__body {
  fill: #CCE2FC;
  stroke: #CCE2FC;
}

.shiny .glalie_svg__body-shadow {
  fill: #B6CADA;
  stroke: #B6CADA;
}

.shiny .glalie_svg__dark-parts-shadow {
  fill: #414141;
  stroke: #323131;
}

.shiny .glalie_svg__dark-parts-light {
  fill: #7F8597;
  stroke: #7F8597;
}

.shiny .snow-flake_svg__snow-flake {
  stroke: #53415F;
}

/* Electabuzz */
.shiny .electabuzz_svg__body {
  fill: #FFA672;
  stroke: #574144;
}


.shiny .electabuzz_svg__arm {
  fill: #F59A67;
  stroke: #F59A67;
}

.shiny .electabuzz_svg__stripes {
  fill: #574144;
  stroke: #574144;
}

.shiny .electabuzz_svg__dark-lines {
  stroke: #574144;
}

/* Primeape */

.shiny .primeape_svg__limbs {
  fill: #CAAB6F;
}

.shiny .primeape_svg__limbs-shadow {
  fill: #7D7C38;
  stroke: #7D7C38;
}

.shiny .primeape_svg__limbs-shadow-line {
  stroke: #7D7C38;
}

.shiny .primeape_svg__details-shadow {
  fill: #AB6B35;
 }

 .shiny .primeape_svg__details {
  fill: #D18344;
 }

 .shiny .primeape_svg__body {
  fill: #FFCD8B;
 }

 .shiny .primeape_svg__body-shadow {
  fill: #DE9C6A;
 }

 .shiny .primeape_svg__body-shadow-line{
  stroke: #DE9C6A;
 }


 .shiny .exclamation_svg__main {
  fill: #FFD53E;
 }


 .shiny .angry-symbol_svg__main {
  stroke: #FFD53E;
 }

 /* Chandelure */

.shiny .chandelure_svg__flame-light  {
  fill: #F79529;
  stroke: #F79529;
}

.shiny .chandelure_svg__eye  {
  fill: #E252A6;
  stroke: #E252A6;
}


.shiny .chandelure_svg__linear stop:first-child {
  stop-color: #FC7A1D;
}

.shiny .chandelure_svg__linear stop:nth-child(2) {
  stop-color: #FC7A1D;
}

.shiny .chandelure_svg__linear stop:nth-child(3) {
  stop-color: #F0B136;
}

.shiny .chandelure_svg__linear stop:nth-child(4) {
  stop-color: #F1DCAF;
}

.shiny .chandelure_svg__linear-2 stop:first-child {
  stop-color: #FC7A1D;
}

.shiny .chandelure_svg__linear-2 stop:nth-child(2) {
  stop-color: #F0B136;
}

.shiny .chandelure_svg__linear-2 stop:nth-child(3) {
  stop-color: #F1DCAF;
}



.shiny .flame-1_svg__flame,
.shiny .flame-2_svg__flame,
.shiny .flame-3_svg__flame,
.shiny .flame-4_svg__flame  {
  fill: #F0B136;
  stroke: transparent;
}


.shiny .flame-1_svg__linear stop:first-child,
.shiny .flame-2_svg__linear stop:first-child,
.shiny .flame-3_svg__linear stop:first-child,
.shiny .flame-4_svg__linear stop:first-child
 {
  stop-color: #f86a04;
}

.shiny .flame-1_svg__linear stop:nth-child(2),
.shiny .flame-2_svg__linear stop:nth-child(2),
.shiny .flame-3_svg__linear stop:nth-child(2),
.shiny .flame-4_svg__linear stop:nth-child(2) {
  stop-color: #f09036;
}

.shiny .flame-2_svg__flame-stroke {
  stroke: transparent;
}

.shiny .flame-4_svg__flame-stroke {
  stroke: transparent;
}

.shiny .raichu_svg__body {
  fill: #F09139;
}


.shiny .raichu_svg__lines {
  stroke: #C16C1C;
}

.shiny .raichu_svg__spots {
  fill: #8B482A;
  stroke: #7B3321;
}

.shiny .raichu_svg__chin {
  fill: #B33F23;
  stroke: #B33F23;
}

.shiny .raichu_svg__spot-lines {
 stroke: #7B3321;
}

.shiny .raichu_svg__cheeks {
  fill: #F0D465;
  stroke: #E08939;
}

.shiny .raichu_svg__feet {
  fill: #F0D465;
  stroke: #F0D465;
}

.shiny .raichu_svg__feet-spot{
  fill: #B33F23;
  stroke: #B33F23;
}

.shiny .raichu_svg__eye {
  fill: #8B482A;
}

.shiny .arm_svg__arm {
  fill: #F09139;
  stroke: #F09139;
}

.shiny .arm_svg__arm-spot {
  fill: #8B482A;
  stroke: #7B3321;
}

.shiny .arm_svg__arm-line {
  stroke: #C16C1C;
}


.shiny .jigglypuff-corner_svg__body,
.shiny .jigglypuff-floating_svg__body,
.shiny .jigglypuff_svg__body {
  fill: #FDC5E8;
}

.shiny .jigglypuff-corner_svg__body-shadow,
.shiny .jigglypuff-floating_svg__body-shadow,
.shiny .jigglypuff_svg__body-shadow{
  fill: #FFB9E5;
}


.shiny .jigglypuff-corner_svg__eye,
.shiny .jigglypuff_svg__eye {
  fill: #76B959;
}
