@use 'tools/index' as *;
@use 'settings/_breakpoints' as *;

.cardList {
  padding-bottom: rem(40);
  padding-top: rem(40);
}

.cardListSpaced {
  padding-top: rem(104);
}

.cardContainer {
  align-content: center;
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: rem(32) rem(24);
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  justify-items: center;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: rem(40);
  padding-left: 0;
}

.loadingCircleContainer {
  align-items: center;
  display: flex;
  height: var(--screen-height);
}

.loadingCircle {
  color: get-color(secondary);
  display: block;
  height: em(180);
  margin-left: auto;
  margin-right: auto;
  width: em(180);
}

.loadingDots {
  align-items: flex-end;
  display: flex;
  height: em(20);
  margin-left: em(3);
  transform: translateY(em(3));
  width: em(20);
}

.snackBarLoadingIcon {
  height: em(24);
  width: em(24);
}

.pokemonNotFound {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.pokemonNotFoundTitle {
  color: var(--theme-text);
  font-size: rem(56);
  text-transform: uppercase;
}

.pokemonNotFoundText {
  color: var(--theme-text);
  font-size: rem(42);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.psyduck {
  color: var(--theme-text);
  height: rem(320);
  width: rem(320);
}

@media only screen and (min-width: $md) {
  .pokemonNotFoundTitle {
    font-size: rem(84);
  }

  .pokemonNotFoundText {
    font-size: rem(56);
  }

  .psyduck {
    color: var(--theme-text);
    height: rem(480);
    width: rem(480);
  }
}

@media only screen and (min-width: $lg) {
  .cardContainer {
    grid-gap: rem(32) rem(24);
  }

  .loadingCircle {
    height: em(280);
    width: em(280);
  }
}

// @media only screen and (max-width: $lg) {
//   .cardContainer {
//     display: flex;
//     flex-wrap: wrap;
//     grid-gap: rem(40);
//     justify-content: center;
//   }
// }
