@use '@styles/tools/index' as *;

.cardContainer {
  align-content: center;
  display: grid;
  grid-row-gap: rem(40);
  grid-template-columns: repeat(4, 25%);
  justify-items: center;
  padding-bottom: rem(40);
}

@include respond-to(laptop) {
  .cardContainer {
    grid-template-columns: repeat(3, 33%);
  }
}

@include respond-to(tablet) {
  .cardContainer {
    grid-template-columns: repeat(2, 50%);
  }
}

@include respond-to(smartphone) {
  .cardContainer {
    grid-template-columns: repeat(1, 100%);
  }
}
