@use 'tools/index' as *;
@use 'helpers/icon.scss' as *;
@use 'helpers/container.scss' as *;

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: $container;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.next {
  transform: translateX(100%);
}

.previous {
  transform: translateX(-100%);
}

.previous,
.next {
  align-items: center;
  background-color: transparent;
  border-radius: 10%;
  border-width: 0;
  color: get-color(light);
  display: flex;
  font-size: rem(80);
  opacity: 0.9;
  padding: rem(4) rem(8);
  position: relative;
  transition: background-color 0.2s;
  z-index: get-index-level(lvl3);
  &::before {
    @include h-icon;

    content: get-icon('arrow');
  }

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.15);
  }

  &[disabled] {
    opacity: 0.5;
  }
}

.next::before {
  transform: rotate(180deg);
}

.next:hover {
  opacity: 1;
}
