@use 'tools/index' as *;
@use 'helpers/icon.scss' as *;
@use 'helpers/container.scss' as *;

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: $container;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: get-index-level(lvl5);
}

.previous,
.next {
  background-color: transparent;
  border-width: 0;
  color: get-color(light);
  font-size: rem(80);

  &::before {
    @include h-icon;

    content: get-icon('arrow');
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.next {
  transform: translateX(100%);
}

.previous {
  transform: translateX(-100%);
}

.next::before {
  transform: rotate(180deg);
}
