@use 'tools/index' as *;
@use 'settings/colors-type' as typeColors;
@use 'helpers/icon.scss' as *;
@use 'helpers/container.scss' as *;
@use 'settings/_breakpoints' as *;
@use 'animations/_rotating' as *;

.moveList {
  background-color: var(--current-dark-type-color);
  border-radius: 8px;
  color: get-color(light);
  display: block;
  height: 100%;
  overflow-y: hidden;
  width: 100%;
}

.moveListTable {
  width: 100%;
}

.moveListTableHeaderRow {
  background-color: var(--current-type-color);
  display: flex;
  width: 100%;
}

.moveListHead {
  font-size: rem(18);
  padding: rem(18) rem(20);
  text-align: left;
  text-align: center;
}

.moveListMovesContainer {
  display: block;
  max-height: rem(400);
  min-height: rem(400);
  min-width: rem(1000);
  overflow: scroll;
  width: 100%;
}

.moveListMovesRow {
  display: flex;
  transition: background-color 0.08s linear;
  width: 100%;

  &:hover {
    background-color: var(--current-light-type-color);
  }
}

.moveListCell {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: rem(10) rem(20);
}

.nameHead,
.nameCell {
  justify-content: start;
  text-align: left;
  width: 16%;
}

.typeHead,
.typeCell {
  width: 20%;
}

.typeCell .typeContainer {
  width: rem(100);
}

.categoryHead,
.categoryCell {
  width: 14.5%;
}

.categoryCell .iconContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: rem(40);
  width: 100%;
}

.accuracyHead,
.accuracyCell {
  width: 16.5%;
}

.powerHead,
.powerCell {
  width: 16.5%;
}

.ppHead,
.ppCell {
  width: 16.5%;
}

@media (min-width: $lg) {
  .moveListMovesContainer {
    overflow: auto;
  }
}

.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: rem(400);
  justify-content: space-evenly;
  padding: rem(20);
}

.loadingPokeball {
  margin-bottom: 20px;
  width: 200px;
}

.loadingText {
  align-items: center;
  display: flex;
  font-size: rem(20);
  justify-content: center;
  line-height: 100%;
}

.loadingDots {
  align-items: flex-end;
  color: get-color(light);
  display: flex;
  height: em(20);
  margin-left: em(3);
  transform: translateY(em(-3));
  width: em(20);
}

.loader {
  display: block;
  height: 124px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  width: 124px;
}

.loadingPokeball,
.loader {
  animation-duration: 2.8s;
  animation-iteration-count: infinite;
  animation-name: rotating;
  animation-timing-function: linear;
}
