@use 'tools/index' as *;
@use 'settings/colors-type' as typeColors;
@use 'helpers/icon.scss' as *;
@use 'settings/_breakpoints' as *;

.gengarWebDoor {
  --webdoor-primary-color: #b18fa8;
  --webdoor-contrast-color: #775f7f;
}

.koffing {
  bottom: 30px;
  left: 80px;
  position: absolute;
  width: 560px;
}

.sign {
  bottom: 30px;
  position: absolute;
  right: -280px;
  width: 800px;
}
