@use 'tools/index' as *;
@use 'settings/colors-type' as typeColors;
@use 'helpers/icon.scss' as *;
@use 'settings/_breakpoints' as *;

.webDoor {
  background-color: var(--webdoor-primary-color);
  display: flex;
  height: var(--screen-height);
  justify-content: center;
  max-height: 920px;
  min-height: 600px;
  overflow: hidden;
  width: 100%;
}

.container {
  flex-shrink: 0;
  padding-top: calc(rem(80) + var(--header-height));
  position: relative;
  width: 100%;
}

.titleContainer {
  margin-top: rem(40);
  position: relative;
  top: unset;
}

.titleHolder {
  color: get-color(light);
  font-size: rem(28);
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.title {
  color: get-color(light);
  font-size: 1em;
  line-height: 1.5;
  position: relative;
  z-index: 2;
}

.titleShadow {
  color: var(--webdoor-contrast-color);
  display: block;
  font-size: 1em;
  font-weight: bold;
  left: 50%;
  line-height: 1.5;
  position: absolute;
  text-shadow: 4px 4px 18px rgba($color: #000, $alpha: 40%);
  -webkit-text-stroke: em(1.5) var(--webdoor-contrast-color);
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
}

@media only screen and (min-width: $xs) {
  .webDoor {
    max-height: none;
  }
}

@media only screen and (min-width: $md) {
  .webDoor {
    min-height: rem(820);
  }

  .titleHolder {
    font-size: rem(52);
  }
}

@media only screen and (min-width: $lg) {
  .webDoor {
    min-height: rem(600);
  }

  .container {
    padding-top: 0;
  }

  .titleContainer {
    left: 50%;
    position: absolute;
    top: 60px;
    transform: translateX(-50%);
    width: 100%;
  }

  .titleHolder {
    font-size: rem(32);
  }
}

@media only screen and (min-width: $xl) {
  .webDoor {
    min-height: rem(680);
  }

  .titleHolder {
    font-size: rem(40);
  }
}

@media only screen and (min-width: $xxl) {
  .webDoor {
    max-height: 1360px;
    min-height: 1080px;
  }

  .titleHolder {
    font-size: rem(52);
    top: 80px;
  }
}
