@use 'tools/index' as *;
@use 'settings/colors-type' as typeColors;

.content {
  color: get-color(light);
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: rem(72);
  justify-content: space-between;
  align-items: center;
}

.pokemonContainer {
  position: relative;
  overflow: visible;
}

.pokemon {
  padding-left: rem(186);
  z-index: 1;
  position: relative;
  z-index: get-index-level(lvl1);
}

.originalName {
  position: absolute;
  font-size: rem(155);
  white-space: nowrap;
  left: rem(-23);
  font-weight: bold;
}

.informationContainer {
  max-width: rem(400);
}

.name {
  font-size: rem(80);
  word-break: break-all;
  text-transform: capitalize;
  margin-top: rem(0);
  margin-bottom: rem(4);
  text-shadow: 3.24px 3.24px 4.32px #00000040;
}

.number {
  font-size: rem(56);
  font-weight: bold;
  display: block;
  line-height: 1;
  letter-spacing: 0.8;
  text-shadow: 3.24px 3.24px 4.32px #00000040;
}

.generationDescriptionContainer {
  padding-top: 0;
  padding-bottom: 0;
}

.generationDescriptionOption {
  text-shadow: 3.24px 3.24px 4.32px #00000040;
  font-weight: bold;
  color: get-color(light);
  background-color: transparent;
  border-style: inset;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-right: rem(12);
  border-bottom-color: get-color(light);
  border-bottom-width: rem(3);
  border-bottom-left-radius: rem(1);
  border-bottom-right-radius: rem(1);
  font-size: rem(32);
  opacity: 0.8;
  transition: opacity 0.2s;
  &.active {
    opacity: 1;
  }
}

.generationDescriptionOption:hover {
  opacity: 1;
}

.description {
  font-weight: bold;
  margin-top: rem(24);
  margin-bottom: rem(0);
  font-size: rem(26);
  line-height: 1.5;
  text-shadow: 3.24px 3.24px 4.32px #00000040;
}

@each $type, $color in typeColors.$types {
  .content.#{$type} {
    // background: map-get(typeColors.$gradient, $type);
    background: map-get(typeColors.$types, $type);
  }
}
