@use 'tools/index' as *;
@use 'settings/colors-type' as typeColors;
@use 'helpers/icon.scss' as *;
@use 'helpers/container.scss' as *;

.content {
  color: get-color(light);
  height: 100vh;
}

.container {
  align-items: top;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: rem(72);
}

@each $type, $color in typeColors.$defaults {
  .content.#{$type} {
    background-color: map-get(typeColors.$background, $type);
  }
}
