@use 'tools/index' as *;
@use 'helpers/icon.scss' as *;
@use 'helpers/container.scss' as *;
@use 'settings/_breakpoints' as *;

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: $container;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: get-index-level(lvl4);
}

.next {
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
  right: 0;
}

.previous {
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  left: 0;
}

.previous,
.next {
  align-items: center;
  background-color: transparent;
  background-color: rgba($color: get-color(dark), $alpha: 65%);
  border-width: 0;
  color: get-color(light);
  display: flex;
  font-size: rem(64);
  opacity: 1;
  padding: rem(4) rem(8);
  position: fixed;
  transition: background-color 0.2s;
  z-index: get-index-level(lvl4);

  &::before {
    @include h-icon;

    content: get-icon('arrow');
  }

  &:hover {
    background-color: rgba($color: get-color(light), $alpha: 15%);
  }

  &[disabled] {
    opacity: 0.5;
  }
}

.next::before {
  transform: rotate(180deg);
}

@media only screen and (min-width: $sm) {
  .navigation {
    z-index: 0;
  }

  .next {
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    right: auto;
  }

  .previous {
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
    left: auto;
  }

  .previous,
  .next {
    background-color: transparent;
    position: relative;
    top: auto;
    transform: none;
  }
}

@media only screen and (min-width: $lg) {
  .navigation {
    max-width: calc(100% - 32px);
  }

  .previous,
  .next {
    border-radius: 10%;
    font-size: rem(80);
  }
}

@media only screen and (min-width: $xl) {
  .navigation {
    max-width: $xl;
  }
}
