@use 'tools/index' as *;
@use 'settings/colors-type' as typeColors;
@use 'helpers/icon.scss' as *;
@use 'settings/_breakpoints' as *;

.generationDescriptionContainer {
  margin-bottom: rem(24);
  min-height: auto;
  width: 100%;
}

.carouselContainer {
  margin-top: rem(16);
}

.generationDescriptionOption {
  border-bottom-color: get-color(light);
  border-bottom-left-radius: rem(1);
  border-bottom-right-radius: rem(1);
  border-style: inset;
  border-width: 0 0 rem(3) 0;
  color: get-color(light);
  display: inline-block;
  font-size: rem(28);
  font-weight: bold;
  margin-bottom: rem(0);
  opacity: 0.8;
  padding: rem(1) rem(6);
  transition: opacity 0.2s;

  &.active,
  &:hover {
    opacity: 1;
    text-shadow: rem(4) rem(2) rem(4) rgba(#000, 0.25);
  }
}

.description {
  font-size: rem(22);
  font-weight: bold;
  line-height: 1.5;
  margin: 0 auto;
  max-width: rem(400);
  padding-left: rem(20);
  padding-right: rem(20);
  text-align: center;
  text-shadow: rem(2) rem(2) rem(4) rgba(#000, 0.3);
}

.descriptionImportant {
  align-self: flex-start;
  display: inline-block;
  margin-right: rem(8);
  margin-top: rem(2);
  width: rem(24);
}

.sideNote {
  display: flex;
  font-size: rem(16);
  margin-top: rem(12);
}

@media only screen and (min-width: $sm) {
  .carouselContainer {
    margin-top: rem(32);
  }

  .description {
    font-size: rem(26);
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

@media only screen and (min-width: $lg) {
  .generationDescriptionContainer {
    margin-bottom: 0;
    min-height: 340px;
    width: 100%;
  }

  .generationDescriptionOption {
    font-size: rem(32);
  }

  .description {
    font-size: rem(26);
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
}
