@use '../../../assets/styles/tools/index' as *;
@use '../../../assets/styles/helpers/icon.scss' as *;

$types: (  
  grass: #33BA5A,
  water: #17C8EF,
  electric: #FFCE31,
  fire: #F5632D,
  bug: #A8B820,
  flying: #A890F0,
  poison: #A040A0,
  ghost: #916CD0,
  psychic: #F85888,
  dark: #705848,
  fighting: #FD625A,
  steel: #B8B8D0,
  ice: #4FC0C0,
  dragon: #462497,
  fairy: #ED738E,
);

.card {
  // background-color: rgba($color: #000000, $alpha: 1.0);
  background: linear-gradient(180deg, #33BA5A 0%, rgba(23, 239, 96, 0.45) 100%);
  border-radius: rem(12);
  width: rem(250);
  height: rem(277);
  cursor: pointer;
  padding: rem(10) rem(30);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card:hover .background {
  opacity: 0.83;
}

.card:hover .type {
  opacity: 0.87;
}

.background {
  position: absolute;
  border-radius: rem(12);
  width: rem(250);
  height: rem(277);  
  transition: opacity ease-out 0.25s;
}

.number {
  position: absolute;
  top: rem(10);
  font-weight: bold;
  color: #FBFBFB;
  font-size: rem(20);
  z-index: get-index-level(lvl3);
}

.pokemonContainer {
  position: relative;
  overflow-x: visible;
}

.pokeball {
  position: absolute;
  right: 0;
  width: rem(155);
  transform: translateX(13%);
  z-index: get-index-level(lvl1);
}

.pokemon {
  position: relative;
  min-width: rem(180);
  max-width: rem(180);
  z-index: get-index-level(lvl2);
}

.name {
  display: block;
  position: absolute;
  z-index: get-index-level(lvl3);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 36%);
  background-color: #FBFBFB;
  border-radius: rem(6);
  padding: rem(6) rem(16);
  color: #33BA5A;
  font-size: rem(20);
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  transition: ease-out 0.35s;
}

.type {
  position: absolute;
  z-index: get-index-level(lvl3);
  display: flex;
  align-items: center;
  bottom: 0;
  transform: translateY(40%);
  padding: rem(5) rem(12);
  border-radius: rem(6);
  background-color: #33BA5A;
  color: #FBFBFB;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  font-size: rem(18);
  transition: opacity ease-out 0.25s;
}

.type::before {
  @include icon;
  content: get-icon("grass");
  color: #33BA5A;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(3);
  margin-right: rem(6);
  border-radius: 50%;
  background-color: #FBFBFB;
  font-size: rem(12);
}

// @each $type, $color in $types {
//   .--#{$type} {
//     background-color: $color;
//   }
// }
