@use 'tools/index' as *;
@use 'settings/colors-type' as typeColors;
@use 'helpers/icon.scss' as *;
@use 'settings/_breakpoints' as *;

.name {
  font-size: rem(42);
  margin-bottom: rem(8);
  margin-top: 0;
  max-width: rem(404);
  position: relative;
  text-shadow: rem(2) rem(2) rem(4) rgba(#000, 0.15);
  text-transform: capitalize;
  z-index: get-index-level(lvl2);
}

.basicInfo {
  align-items: center;
  display: flex;
  margin-bottom: rem(16);
  max-width: rem(352);
}

.hashtag {
  font-size: rem(28);
}

.number {
  align-items: center;
  display: flex;
  font-size: rem(40);
  font-weight: bold;
  letter-spacing: 0.8;
  line-height: 1;
  text-shadow: rem(2) rem(2) rem(4) rgba(#000, 0.15);

  &::after {
    content: '|';
    font-size: rem(32);
    margin-left: rem(8);
    margin-right: rem(8);
  }
}

.generationDescriptionContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: rem(404);
  padding-bottom: 0;
  padding-top: 0;
}

.typeContainer {
  display: flex;
}

.type {
  align-items: center;
  color: get-color(light);
  display: flex;
  font-size: 0;
  text-shadow: rem(2) rem(2) rem(4) rgba(#000, 0.15);
  transition: opacity ease-out 0.25s;

  &:not(:last-child) {
    margin-right: rem(6);
  }

  &::before {
    @include h-icon;

    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: rem(3);
  }
}

.singleType {
  &::before {
    font-size: rem(36);
  }
}

.dualType {
  &::before {
    font-size: rem(28);
  }
}

@each $type, $color in typeColors.$defaults {
  .type.#{$type}::before {
    color: #fff;
    content: get-icon($type);
  }
}

@media only screen and (min-width: $sm) {
  .name {
    font-size: rem(64);
  }

  .basicInfo {
    margin-bottom: rem(32);
  }
}

@media only screen and (min-width: $lg) {
  .name {
    font-size: rem(88);
    margin-bottom: rem(8);
    max-width: rem(404);
  }

  .hashtag {
    font-size: rem(42);
  }

  .number {
    font-size: rem(56);
    letter-spacing: 0.8;
    line-height: 1;

    &::after {
      content: '|';
      font-size: rem(42);
      margin-left: rem(16);
      margin-right: rem(16);
    }
  }

  .type {
    height: rem(64);
  }

  .singleType {
    &::before {
      font-size: rem(44);
    }
  }

  .dualType {
    &::before {
      font-size: rem(36);
    }
  }
}
