@use 'tools/index' as *;
@use 'sass:map';
@use 'settings/colors-type' as typeColors;

.filterOptions {
  padding-top: rem(8);
}

.subtitle {
  font-size: rem(20);
  margin-bottom: 0;
  margin-top: 0;
}

.categoryContainer:not(:last-child) {
  padding-bottom: rem(12);
}

.categoryTitle {
  font-size: rem(16);
  margin-bottom: 0;
  margin-top: rem(12);
}

.category {
  display: grid;
  flex-wrap: wrap;
  gap: rem(8);
  grid-template-columns: repeat(auto-fit, rem(64));
}

.categoryItem {
  align-items: center;
  background-color: get-color('primary-darker');
  border: 2px solid get-color('primary-lighter');
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-size: rem(28);
  font-weight: bold;
  height: rem(64);
  justify-content: center;
  line-height: 0;
  transition: background-color 0.12s linear, border-color 0.08s linear;
  width: rem(64);
}

.categoryItem:hover {
  background-color: #2d335b;
}

.icon {
  color: get-color('light');
  width: rem(36);
}

.icon.small {
  width: rem(28);
}

.categoryContainer:not(:first-child) {
  border-top: 1px solid get-color(primary-lightest);
  padding-top: rem(32);
}

.checkboxContainer {
  cursor: pointer;
  display: block;
  font-size: 22px;
  height: rem(64);
  padding-left: 35px;
  position: relative;
  user-select: none;
  width: rem(64);
}

.checkMark {
  align-items: center;
  background-color: get-color('primary-darker');
  border: 2px solid get-color('primary-lighter');
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-size: rem(28);
  font-weight: bold;
  height: 100%;
  justify-content: center;
  left: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.12s linear, border-color 0.08s linear;
  width: 100%;
}

.checkboxContainer .checkboxInput {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.checkboxInput:checked ~ .checkMarkDark .icon {
  color: get-color(primary);
}

.checkboxContainer:hover .checkMark {
  background: get-color(secondary);
  border-color: get-color(secondary-dark);
  color: get-color(primary);
}

.checkboxInput:checked ~ .checkMark {
  background: get-color(secondary);
  border-color: get-color(light);
  color: get-color(primary);
}

.checkboxContainer:hover .checkMarkDark .icon {
  color: get-color(primary);
}

.filterActionContainer {
  border-top: 2px solid get-color(light);
  display: flex;
  justify-content: space-between;
  margin-top: rem(18);
  padding-top: rem(24);
}

@each $type, $color in typeColors.$defaults {
  .checkboxTypeContainer:hover .checkMark.#{$type} {
    background-color: #{map.get(typeColors.$darks, $type)};
    border-color: #{map.get(typeColors.$lights, $type)};
  }

  .checkboxTypeContainer .checkboxInput:checked ~ .checkMark.#{$type} {
    background: $color;
    border-color: #{map.get(typeColors.$darks, $type)};
    border-color: get-color(light);
  }

  .checkboxTypeContainer:hover .checkboxInput:checked ~ .checkMark.#{$type} {
    background-color: #{map.get(typeColors.$darks, $type)};
  }
}

.snackBarFilterButton {
  background-color: transparent;
  border-width: 0;
  color: get-color(primary);
  font-weight: bold;
  text-decoration: underline;
}
