@use 'tools/index' as *;
@use 'settings/colors-type' as typeColors;
@use 'helpers/icon.scss' as *;
@use 'settings/_breakpoints' as *;

.generationDescriptionContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: rem(404);
}

.generationDescriptionOption {
  border-bottom-color: get-color(light);
  border-bottom-left-radius: rem(1);
  border-bottom-right-radius: rem(1);
  border-bottom-width: rem(3);
  border-left-width: 0;
  border-right-width: 0;
  border-style: inset;
  border-top-width: 0;
  color: get-color(light);
  display: inline-block;
  font-size: rem(28);
  font-weight: bold;
  margin-bottom: rem(8);
  opacity: 0.8;
  padding: rem(1) rem(6);
  transition: opacity 0.2s;
  &.active,
  &:hover {
    opacity: 1;
    text-shadow: rem(4) rem(2) rem(4) rgba(#000, 0.25);
  }
}

.description {
  font-size: rem(22);
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: rem(40);
  margin-top: rem(24);
  max-width: rem(400);
  padding-left: rem(20);
  padding-right: rem(20);
  text-align: center;
  text-shadow: rem(2) rem(2) rem(4) rgba(#000, 0.3);
}

.descriptionImportant {
  align-self: flex-start;
  display: inline-block;
  margin-right: rem(8);
  margin-top: rem(2);
  width: rem(24);
}

.sideNote {
  display: flex;
  font-size: rem(16);
  margin-top: rem(12);
}

@media only screen and (min-width: $sm) {
  .description {
    font-size: rem(26);
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

@media only screen and (min-width: $lg) {
  .generationDescriptionOption {
    font-size: rem(32);
  }

  .description {
    font-size: rem(26);
    margin-bottom: 0;
    margin-bottom: rem(80);
    text-align: left;
  }
}
