@use '../functions/em.scss' as *;

$breakpoints: (
  smartphone: em(767),
  tablet: em(768),
  mobile: em(1023),
  laptop: em(1024),
  HD: em(1280),
  fullHD: em(1920),
  quadHD: em(2560),
  ultraHD: em(3840),
);
