$types: (
  bug: #a8b820,
  dark: #705848,
  dragon: #462497,
  electric: #ffce31,
  fairy: #ed738e,
  fighting: #fd625a,
  fire: #f5632d,
  flying: #a890f0,
  ghost: #5a3696,
  grass: #33ba5a,
  ground: #d9ba67,
  ice: #4fc0c0,
  normal: #97977b,
  poison: #a040a0,
  psychic: #f85888,
  rock: #978046,
  steel: #b8b8d0,
  water: #17c8ef,
);
