$gradient: (
  bug: linear-gradient(180deg, #9caa1b 0%, rgb(214 238 0) 100%),
  dark: linear-gradient(180deg, #705848 0%, rgb(224 140 84) 100%),
  dragon: linear-gradient(180deg, #4822a5 0%, rgb(120 85 204 / 100%) 100%),
  electric: linear-gradient(180deg, #f1c618 0%, rgb(253 234 60 / 100%) 100%),
  fairy: linear-gradient(180deg, #f16b88 0%, rgb(249 142 167) 100%),
  fighting: linear-gradient(180deg, #8e1f1a 0%, rgb(252 58 48) 100%),
  fire: linear-gradient(180deg, #fd6322 0%, rgb(250 171 12) 100%),
  flying: linear-gradient(180deg, #a890f0 0%, rgb(203 188 248 / 100%) 100%),
  ghost: linear-gradient(180deg, #4c3b67 0%, rgb(88 24 196 / 100%) 100%),
  grass: linear-gradient(180deg, #40af31 0%, rgb(92 231 57 / 100%) 100%),
  ground: linear-gradient(180deg, #b99d50 0%, rgb(241 193 61) 100%),
  ice: linear-gradient(180deg, #0dc0c0 0%, rgb(128 233 233 / 100%) 100%),
  normal: linear-gradient(180deg, #5f5f4d 0%, rgb(163 163 112) 100%),
  poison: linear-gradient(180deg, #873387 0%, rgb(244 101 244) 100%),
  psychic: linear-gradient(180deg, #e32760 0%, rgb(253 91 140) 100%),
  rock: linear-gradient(180deg, #8a6d21 0%, rgba(#f8c952, 75%) 100%),
  steel: linear-gradient(180deg, #6e6e99 0%, rgb(209 209 228 / 100%) 100%),
  water: linear-gradient(180deg, #4f7ff3 0%, rgb(23 200 239 / 100%) 99.99%),
);
$defaults: (
  bug: #abbb18,
  dark: #584639,
  dragon: #462497,
  electric: #f1c618,
  fairy: #f0718d,
  fighting: #8e1f1a,
  fire: #f5632d,
  flying: #a890f0,
  ghost: #5a3696,
  grass: #26a315,
  ground: #c9a950,
  ice: #0dc0c0,
  normal: #8e8e80,
  poison: #a040a0,
  psychic: #e44071,
  rock: #8a6d21,
  steel: #a2a2bd,
  water: #507ce4,
);
$lights: (
  bug: #a0ae26,
  dark: #7a5d48,
  dragon: #5835b3,
  electric: #ecce53,
  fairy: #f9a0b3,
  fighting: #c54d47,
  fire: #ee853a,
  flying: #9d86e2,
  ghost: #4c386d,
  grass: #4faf42,
  ground: #c7ad66,
  ice: #86d6d6,
  normal: #8a8a85,
  poison: #914891,
  psychic: #f7769c,
  rock: #b8a345,
  steel: #a0a0b4,
  water: #4c78e0,
);
$darks: (
  bug: #808d10,
  dark: #463123,
  dragon: #2d1764,
  electric: #bf9c12,
  fairy: #d26179,
  fighting: #97332d,
  fire: #9f5018,
  flying: #715cb0,
  ghost: #361c5f,
  grass: #387d2f,
  ground: #90752d,
  ice: #32a3a3,
  normal: #5d5d57,
  poison: #722572,
  psychic: #a94160,
  rock: #8a7723,
  steel: #6a6a7a,
  water: #2b56bb,
);
