$theme: (
  primary: #21285a,
  primary-lighter: #3a4592,
  primary-lightest: #6d77c7,
  primary-light: #333c81,
  primary-dark: #161b3f,
  primary-darker: #1c2039,
  secondary: #fdcb51,
  secondary-dark: #fabb1a,
  light: #fbfbfb,
  dark: #333,
  neutral: hsl(220deg 100% 99%),
);
