$moon: #1a8fd2;
$sun: #f27c01;
$gmax: #e60040;
$sword: #009ee5;
$shield: #e10159;
$pokeball: #fb5556;
$pokeballSecondary: #eeeded;
$pikachu: #f1b510;
$switchArrow: #4ab8d9;
$megaGradient1: #f258fa;
$megaGradient2: #8e7de0;
$megaGradient3: #5fbddc;
$megaGradient4: #51e0db;
$megaGradient5: #58eeaa;
$megaGradient6: #63fa60;
$megaGradient7: #acf55f;
$megaGradient8: #c2fc62;
$megaGradient9: #dae759;
$transitionTime: 0.3s;

.switchFormIcon:hover svg path {
  transition: fill $transitionTime;
}

.switchFormIcon:hover svg stop {
  transition: stop-color $transitionTime;
}

.switchFormIcon--active svg .moon,
.switchFormIcon:hover svg .moon {
  fill: $moon;
}
.switchFormIcon--active svg .sun,
.switchFormIcon:hover svg .sun {
  fill: $sun;
}
.switchFormIcon--active svg .gmax,
.switchFormIcon:hover svg .gmax {
  fill: $gmax;
}

.switchFormIcon--active svg .sword-top,
.switchFormIcon:hover svg .sword-top {
  fill: $sword;
}

.switchFormIcon--active svg .sword-bottom,
.switchFormIcon:hover svg .sword-bottom {
  fill: $sword;
}

.switchFormIcon--active svg .shield-right,
.switchFormIcon:hover svg .shield-right {
  fill: $shield;
}

.switchFormIcon--active svg .shield-left,
.switchFormIcon:hover svg .shield-left {
  fill: $shield;
}

.switchFormIcon--active svg .swordAndShieldPokeball,
.switchFormIcon:hover svg .swordAndShieldPokeball {
  fill: $shield;
}

.switchFormIcon--active svg .swordAndShieldPokeballCenter,
.switchFormIcon:hover svg .swordAndShieldPokeballCenter {
  fill: $shield;
}

.switchFormIcon--active svg .pokeballTop,
.switchFormIcon:hover svg .pokeballTop {
  fill: $pokeball;
}

.switchFormIcon--active svg .pokeballCenter,
.switchFormIcon:hover svg .pokeballCenter {
  fill: $pokeballSecondary;
}

.switchFormIcon--active svg .pokeballBottom,
.switchFormIcon:hover svg .pokeballBottom {
  fill: $pokeballSecondary;
}

.switchFormIcon--active svg .pikachuBody,
.switchFormIcon:hover svg .pikachuBody {
  fill: $pikachu;
}

.switchFormIcon--active svg .pikachuTail,
.switchFormIcon:hover svg .pikachuTail {
  fill: $pikachu;
}

.switchFormIcon--active svg .switchTopArrow,
.switchFormIcon:hover svg .switchTopArrow {
  fill: $switchArrow;
}

.switchFormIcon--active svg .switchBottomArrow,
.switchFormIcon:hover svg .switchBottomArrow {
  fill: $switchArrow;
}

// mega form active
.switchFormIcon--active svg stop:nth-child(1) {
  stop-color: $megaGradient1;
}
.switchFormIcon--active svg stop:nth-child(2) {
  stop-color: $megaGradient2;
}
.switchFormIcon--active svg stop:nth-child(3) {
  stop-color: $megaGradient3;
}
.switchFormIcon--active svg stop:nth-child(4) {
  stop-color: $megaGradient4;
}
.switchFormIcon--active svg stop:nth-child(5) {
  stop-color: $megaGradient5;
}
.switchFormIcon--active svg stop:nth-child(6) {
  stop-color: $megaGradient6;
}
.switchFormIcon--active svg stop:nth-child(7) {
  stop-color: $megaGradient7;
}
.switchFormIcon--active svg stop:nth-child(8) {
  stop-color: $megaGradient8;
}
.switchFormIcon--active svg stop:nth-child(9) {
  stop-color: $megaGradient9;
}

// mega form hover
.switchFormIcon:hover svg stop:nth-child(1) {
  stop-color: $megaGradient1;
}
.switchFormIcon:hover svg stop:nth-child(2) {
  stop-color: $megaGradient2;
}
.switchFormIcon:hover svg stop:nth-child(3) {
  stop-color: $megaGradient3;
}
.switchFormIcon:hover svg stop:nth-child(4) {
  stop-color: $megaGradient4;
}
.switchFormIcon:hover svg stop:nth-child(5) {
  stop-color: $megaGradient5;
}
.switchFormIcon:hover svg stop:nth-child(6) {
  stop-color: $megaGradient6;
}
.switchFormIcon:hover svg stop:nth-child(7) {
  stop-color: $megaGradient7;
}
.switchFormIcon:hover svg stop:nth-child(8) {
  stop-color: $megaGradient8;
}
.switchFormIcon:hover svg stop:nth-child(9) {
  stop-color: $megaGradient9;
}
