$iconList: (
  bug: "\e900",
  dark: "\e901",
  dragon: "\e902",
  electric: "\e903",
  fairy: "\e904",
  fighting: "\905",
  fire: "\e906",
  flying: "\e907",
  ghost: "\e908",
  grass: "\e909",
  ground: "\e90a",
  ice: "\e90b",
  normal: "\e90c",
  poison: "\e90d",
  psychic: "\e90e",
  rock: "\e90f",
  steel: "\e910",
  water: "\e911"
);
