@use 'tools/index' as *;
@use 'helpers/icon.scss' as *;
@use 'settings/_breakpoints' as *;

.scrollableText {
  height: auto;
  margin-top: rem(24);
}

.scrollableTextContentContained {
  overflow-y: visible;
  padding-right: rem(8);
}

// .scrollableTextOverflowContained::after {
//   @include h-icon;

//   content: get-icon('arrow');
//   display: block;
//   font-size: rem(24);
//   margin-top: rem(8);
//   text-align: center;
//   transform: rotate(270deg);
// }

@media only screen and (min-width: $lg) {
  .scrollableText {
    height: auto;
  }

  .scrollableTextContentContained {
    overflow-y: scroll;
    padding-right: rem(8);
  }

  .scrollableTextOverflowContained::after {
    font-size: rem(32);
    margin-top: rem(16);
  }
}
