@use 'tools/index' as *;

.pokemonContainer {
  display: flex;
  justify-content: center;
  max-width: rem(816);
  overflow: visible;
  position: relative;
  width: 100%;
}

.pokemon {
  filter: drop-shadow(rem(15) rem(10) rem(0) rgba(#000, 0.45));
  height: rem(488);
  max-width: rem(488);
  width: 100%;
  position: relative;
  z-index: get-index-level(lvl1);
}

.japaneseName {
  font-size: rem(152);
  font-weight: bold;
  left: rem(-24);
  opacity: 0.88;
  position: absolute;
}
