@use 'tools/index' as *;
@use 'helpers/icon.scss' as *;
@use 'settings/_breakpoints' as *;

.carouselHolder {
  display: flex;
  gap: rem(12);
  justify-content: center;
  position: relative;
  z-index: get-index-level(lvl1);
}

.carousel {
  display: flex;
  overflow-x: hidden;
  position: relative;
  touch-action: pan-y;
}

.carouselWrapper {
  margin-left: auto;
  margin-right: auto;
  overflow-x: visible;
  transform: translateX(var(--carousel-position));
  transition-duration: 0s;
  transition-property: transform;
  user-select: none;
  will-change: transform;
}

.carouselItemsHolder {
  align-items: stretch;
  display: flex;
  gap: var(--carousel-gap);
  height: 100%;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.previous,
.next {
  align-items: center;
  background-color: transparent;
  border-radius: 10%;
  border-width: 0;
  color: get-color(light);
  display: flex;
  font-size: rem(28);
  opacity: 0.9;
  transition: background-color 0.2s;

  &::before {
    @include h-icon;

    content: get-icon('arrow');
  }

  &:hover {
    background-color: rgba($color: get-color(light), $alpha: 15%);
  }

  &[disabled] {
    opacity: 0.5;
  }
}

.next::before {
  transform: rotate(180deg);
}

.next:hover {
  opacity: 1;
}

@media only screen and (min-width: $xl) {
  .carouselHolder {
    gap: rem(16);
    justify-content: flex-start;
  }

  .previous,
  .next {
    font-size: rem(32);
  }

  .previous.large,
  .next.large {
    font-size: rem(42);
  }
}
