/* stylelint-disable font-family-no-missing-generic-family-keyword */
@mixin h-icon {
  display: inline-block;
  font-family: 'icons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}
/* stylelint-enable font-family-no-missing-generic-family-keyword */
