@use 'tools/index' as *;
@use 'settings/colors-type' as typeColors;
@use 'helpers/icon.scss' as *;
@use 'helpers/container.scss' as *;
@use 'settings/_breakpoints' as *;

.content {
  color: get-color(light);
  min-height: 100vh;
  transition: background-color 0.1s;
}

.holder {
  margin-top: rem(72);
}

.smallHolder {
  margin-top: rem(24);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: rem(8);
}

// .container {
//   display: grid;
//   grid-template-areas:
//     'highlight basic'
//     'highlight description';
//   grid-template-columns: 1fr 1fr;
//   justify-content: space-between;
//   width: 100%;
// }

.basicInformation {
  grid-area: basic;
}

.highlight {
  grid-area: highlight;
}

.description {
  grid-area: description;
}

@media only screen and (min-width: $md) {
  .holder {
    display: flex;
    justify-content: center;
  }

  .smallHolder {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: $lg) {
  .holder {
    display: block;
  }

  .smallHolder {
    display: block;
  }
}

@media only screen and (min-width: $xl) {
  .container {
    justify-content: space-between;
  }
}

@each $type, $color in typeColors.$defaults {
  .content.#{$type} {
    background-color: map-get(typeColors.$background, $type);
  }
}
