@use 'tools/index' as *;
@use 'settings/colors-type' as typeColors;
@use 'helpers/icon.scss' as *;
@use 'helpers/container.scss' as *;
@use 'settings/_breakpoints' as *;

.content {
  color: get-color(light);
  min-height: 100vh;
  transition: background-color 0.6s;
}

.holder {
  margin-top: rem(16);
}

.smallHolder {
  margin-top: rem(16);
}

.container {
  align-items: center;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  margin-top: rem(48);
}

@media only screen and (min-width: $sm) {
  .holder {
    margin-top: rem(28);
  }
}

@media only screen and (min-width: $lg) {
  .container {
    align-items: normal;
    grid-template-columns: rem(768) rem(400);
    margin-top: rem(8);
  }

  .holder {
    display: block;
    margin-top: rem(72);
  }

  .smallHolder {
    display: block;
    margin-top: rem(24);
  }
}

@media only screen and (min-width: $xl) {
  .container {
    align-items: normal;
    grid-template-columns: rem(816) rem(400);
    justify-content: space-between;
  }
}
