@use 'tools/index' as *;
@use 'helpers/icon.scss' as *;
@use 'sass:map';

.row {
  align-items: center;
  display: flex;
  height: rem(64);
  justify-content: space-between;
  padding: rem(10) rem(20);
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.row:hover {
  background-color: var(--current-light-type-color);
}

.cell {
  align-items: center;
  border-radius: 8px;
  display: flex;
  gap: rem(10);
  height: rem(40);
  justify-content: center;
}

.accuracyCell {
  width: 13%;
}

.powerCell {
  width: 15%;
}

.ppCell {
  width: 15%;
}

.nameCell {
  width: 14.5%;
}

.typeCell {
  width: 18.5%;
}

.categoryCell {
  width: 13%;
}
