@use 'tools/index' as *;
@use 'sass:map';
@use 'settings/colors-type' as typeColors;
@use 'settings/_breakpoints' as *;

.snackBar {
  background-color: get-color(secondary);
  border-radius: 6px;
  bottom: rem(24);
  color: get-color(primary);
  font-size: rem(16);
  font-weight: bold;
  left: rem(24);
  min-width: rem(240);
  padding: rem(20);
  position: fixed;
  right: rem(24);
  z-index: get-index-level(max);
}

.snackBarContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.snackBarContent {
  align-items: baseline;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.snackBarContent > *:not(:last-child) {
  margin-bottom: rem(20);
}

@media only screen and (min-width: $md) {
  .snackBar {
    font-size: rem(20);
    left: auto;
    min-width: rem(340);
    padding: rem(24);
  }

  .snackBarContent {
    align-items: center;
    flex-direction: row;
    text-align: left;
  }

  .snackBarContent > *:not(:last-child) {
    margin-bottom: 0;
  }
}
