@use 'tools/index' as *;
@use 'sass:map';
@use 'settings/colors-type' as typeColors;
@use 'settings/_breakpoints' as *;

.snackBar {
  background-color: get-color(secondary);
  border-radius: 6px;
  bottom: rem(24);
  color: get-color(primary);
  font-size: rem(16);
  font-weight: bold;
  left: rem(24);
  min-width: rem(200);
  padding: rem(20);
  position: fixed;
  right: rem(24);
  z-index: get-index-level(max);
}

.snackBarContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.snackBarContent > *:not(:last-child) {
  margin-bottom: rem(20);
}

@media only screen and (min-width: $lg) {
  .snackBar {
    font-size: rem(18);
    left: auto;
    min-width: rem(280);
    padding: rem(24);
  }

  .snackBarContent {
    align-items: baseline;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
  }

  .snackBarContent > *:not(:last-child) {
    margin-bottom: 0;
  }
}
