@use 'tools/index' as *;
@use 'sass:map';
@use 'settings/colors-type' as typeColors;
@use 'settings/_breakpoints' as *;

.snackBar {
  background-color: get-color(secondary);
  border-radius: 6px;
  bottom: rem(24);
  color: get-color(primary);
  font-size: rem(16);
  font-weight: bold;
  min-width: rem(240);
  padding: rem(20);
  position: fixed;
  right: rem(24);
  z-index: get-index-level(max);
}

.snackBarContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.snackBarContent {
  align-items: baseline;
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}

@media only screen and (min-width: $lg) {
  .snackBar {
    font-size: rem(20);
    min-width: rem(340);
    padding: rem(24);
  }
}
