@use 'tools/index' as *;
@use 'settings/colors-type' as typeColors;
@use 'helpers/icon.scss' as *;
@use 'helpers/container.scss' as *;
@use 'settings/_breakpoints' as *;
@use 'animations/_rotating' as *;

.pokemonTypeEfficiencyTable {
  background-color: var(--current-dark-type-color);
  border-radius: 8px;
  color: get-color(light);
  display: block;
  height: 100%;
  min-height: rem(420);
  overflow-y: hidden;
  padding: rem(18) rem(12);
  width: 100%;
}

.pokemonTypeEfficiencyContent {
  display: block;
  height: 100%;
  width: 100%;
}

.pokemonTypeEfficiencyContainer {
  display: grid;
  grid-template-rows: auto;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.pokemonTypeEfficiencyCategory {
  text-align: left;
}

.pokemonTypeEfficiencyTitle {
  border-bottom: 1px solid var(--current-type-color);
  display: block;
  margin-right: 20px;
  padding-bottom: 10px;
}

.pokemonTypeEfficiencyValuesContainer {
  column-gap: rem(10);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(116px, 200px));
  height: min-content;
  justify-content: center;
  margin-bottom: rem(16);
  margin-top: rem(0);
  padding-right: rem(10);
  row-gap: rem(10);
}

.pokemonTypeEfficiencyCategory:not(:last-child) {
  margin-bottom: 8px;
}

.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.loadingPokeball {
  animation-duration: 2.8s;
  animation-iteration-count: infinite;
  animation-name: rotating;
  animation-timing-function: linear;
  max-width: rem(180);
  width: 48%;
}

.loadingText {
  align-items: center;
  display: flex;
  font-size: rem(20);
  justify-content: center;
  line-height: 100%;
}

.loadingDots {
  align-items: flex-end;
  color: get-color(light);
  display: flex;
  height: em(20);
  margin-left: em(3);
  transform: translateY(em(-3));
  width: em(20);
}

.pokemonTypeEfficiencyNone {
  align-items: center;
  background-color: get-color(dark);
  border-radius: 6px;
  display: inline-flex;
  font-weight: bold;
  height: rem(32);
  justify-content: center;
  min-width: rem(120);
  padding: rem(5) rem(12);
}

.pokemonTypeEfficiencyModifier {
  display: block;
  font-size: rem(18);
  height: rem(20);
  width: rem(20);
}

@media (min-width: $xl) {
  .pokemonTypeEfficiencyValuesContainer {
    grid-template-columns: repeat(3, minmax(116px, 132px));
    justify-content: start;
  }
}
