@use 'tools/index' as *;
@use 'helpers/icon.scss' as *;
@use 'animations/pop-in' as *;
@use 'animations/_rotating' as *;
@use 'animations/_scale-highlight' as *;
@use 'sass:map';

.card {
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: rem(299);
  justify-content: center;
  padding: rem(10) rem(32);
  position: relative;
  width: rem(265);
}

.background {
  background-color: get-color(neutral-lighter);
  border-radius: 13px;
  height: rem(299);
  position: absolute;
  transition: background-color ease-out 0.15s;
  width: rem(265);
}

.card:hover .background {
  background-color: get-color(neutral-light);
  transform: translateY(rem(-2));
}

.number {
  color: get-color(light);
  font-size: rem(21);
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
  top: rem(10);
  z-index: get-index-level(lvl2);
}

.pokemonContainer {
  overflow-x: visible;
  position: relative;
}

.pokeball {
  color: var(--theme-color-light);
  display: block;
  height: rem(160);
  position: absolute;
  right: rem(-6);
  top: rem(7);
  transition: ease-out 0.2s;
  width: rem(155);
  z-index: get-index-level(lvl1);
}

.card:hover .pokeball {
  animation-duration: 2.8s;
  animation-iteration-count: infinite;
  animation-name: rotating;
  animation-timing-function: linear;
}

.pokemon {
  height: rem(201);
  position: relative;
  width: rem(201);
  z-index: get-index-level(lvl2);
}

.card:hover .pokemon {
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: scale-highlight;
  animation-timing-function: ease;
}

.name {
  background-color: get-color(light);
  border-radius: 6px;
  bottom: 0;
  color: get-color(neutral-dark);
  display: block;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: rem(21);
  font-weight: bold;
  height: 32px;
  left: 50%;
  margin-bottom: 0;
  margin-top: 0;
  padding: rem(6) rem(17);
  position: absolute;
  text-align: center;
  transform: translate(-50%, 36%);
  width: 121px;
  z-index: get-index-level(lvl2);
}

.typeContainer {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translateY(40%);
  z-index: get-index-level(lvl2);
}

.type {
  align-items: center;
  background-color: get-color(neutral-dark);
  border-radius: 6px;
  color: get-color(light);
  display: flex;
  font-size: rem(18);
  font-weight: bold;
  height: 32px;
  margin-bottom: 0;
  margin-top: 0;
  padding: rem(5) rem(12);
  text-align: center;
  text-transform: capitalize;
  transition: ease-out 0.2s;
}

.type:not(:last-child) {
  margin-right: rem(6);
}

.type::before {
  @include h-icon;

  align-items: center;
  background-color: get-color(light);
  border-radius: 50%;
  content: '';
  display: block;
  height: rem(22);
  margin-right: rem(6);
  width: rem(22);
}
