@use 'tools/index' as *;

@keyframes skeleton-loading {
  0% {
    background-color: #d7d6d6;
  }

  100% {
    background-color: get-color(neutral-lighter);
  }
}

@keyframes skeleton-loading-pokemon-type {
  0% {
    background-color: var(--current-light-type-color);
  }

  100% {
    background-color: var(--current-type-color);
  }
}
