@use 'tools/index' as *;
@use 'settings/_breakpoints' as *;

.dialogOverlay {
  animation: overlay-show 180ms cubic-bezier(0.16, 1, 0.3, 1);
  background-color: rgba($color: #000, $alpha: 52%);
  inset: 0;
  position: fixed;
  z-index: 999;
}

.dialogContent {
  animation: content-show 240ms cubic-bezier(0.16, 1, 0.3, 1);
  background-color: get-color('primary');
  border: 2px solid get-color('primary-lighter');
  border-radius: 6px;
  box-shadow: hsl(206deg 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206deg 22% 7% / 20%) 0 10px 20px -15px;
  color: get-color('light');
  left: 50%;
  max-height: 85vh;
  max-height: 600px;
  padding: 25px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  z-index: calc(999 + 1);
}

.small {
  max-width: rem(600);
}

.medium {
  max-width: rem(900);
}

.scroll {
  overflow-y: scroll;
}

.dialogContent:focus {
  outline: none;
}

.dialogTitle {
  align-items: center;
  border-bottom: 2px solid get-color('light');
  display: flex;
  font-size: rem(32);
  justify-content: space-between;
  margin: 0;
  padding-bottom: 8px;
}

.closeButton {
  align-items: center;
  background-color: transparent;
  border-radius: 100%;
  border-width: 0;
  color: get-color('light');
  display: flex;
  font-family: inherit;
  height: 48px;
  justify-content: center;
  padding-top: 4px;
  transition: background-color 0.2s;
  width: 48px;
}

.closeButton:hover {
  background-color: get-color('primary-light');
}

.closeButton:focus {
  box-shadow: 0 0 0 2px var(--violet7);
}

.icon {
  display: block;
  width: 24px;
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes content-show {
  from {
    opacity: 0;
    opacity: translate(-0.5, -0.48) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
