@use 'tools/index' as *;
@use 'settings/_breakpoints' as *;

.dialogOverlay {
  animation: overlay-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
  background-color: rgba($color: #000, $alpha: 52%);
  inset: 0;
  position: fixed;
  z-index: 999;
}

.dialogContent {
  animation: content-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
  background-color: get-color('primary');
  border: 2px solid get-color('primary-lighter');
  border-radius: 6px;
  box-shadow: hsl(206deg 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206deg 22% 7% / 20%) 0 10px 20px -15px;
  color: get-color('light');
  left: 50%;
  max-height: 85vh;
  max-height: 600px;
  max-width: 450px;
  overflow-y: scroll;
  padding: 25px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  z-index: calc(999 + 1);
}

.dialogContent:focus {
  outline: none;
}

.dialogTitle {
  color: var(--mauve12);
  font-size: 17px;
  font-weight: 500;
  margin: 0;
}

.dialogDescription {
  color: var(--mauve11);
  font-size: 15px;
  line-height: 1.5;
  margin: 10px 0 20px;
}

.iconButton {
  align-items: center;
  border-radius: 100%;
  color: var(--violet11);
  display: inline-flex;
  font-family: inherit;
  height: 25px;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
}

.iconButton:hover {
  background-color: var(--violet4);
}

.iconButton:focus {
  box-shadow: 0 0 0 2px var(--violet7);
}

.fieldset {
  align-items: center;
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.label {
  color: var(--violet11);
  font-size: 15px;
  text-align: right;
  width: 90px;
}

.input {
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--violet7);
  color: var(--violet11);
  display: inline-flex;
  flex: 1;
  font-size: 15px;
  height: 35px;
  justify-content: center;
  line-height: 1;
  padding: 0 10px;
  width: 100%;
}

.input:focus {
  box-shadow: 0 0 0 2px var(--violet8);
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes content-show {
  from {
    opacity: 0;
    opacity: translate(-0.5, -0.48) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
