@use 'tools/index' as *;
@use 'settings/colors-type' as typeColors;
@use 'helpers/icon.scss' as *;
@use 'settings/_breakpoints' as *;

.webDoor {
  --webdoor-primary-color: #4a1f76;
  --webdoor-contrast-color: #eb1d70;

  $webdoor-title-size: rem(24);

  background-color: var(--webdoor-primary-color);
  display: flex;

  // min-height: 100vh;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.container {
  flex-shrink: 0;
  padding-top: calc(rem(80) + var(--header-height));
  position: relative;
  width: 100%;
}

.titleContainer {
  position: relative;
  top: unset;
}

.titleHolder {
  color: get-color(light);
  font-size: rem(24);
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.title {
  color: get-color(light);
  font-size: 1em;
  position: relative;
  z-index: 2;
}

.titleShadow {
  color: var(--webdoor-contrast-color);
  display: block;
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  left: 50%;
  position: absolute;
  -webkit-text-stroke: em(1.5) var(--webdoor-contrast-color);
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
}

.gengar {
  bottom: rem(-20);
  height: 312px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 331px;
}

.crobatHolder {
  position: relative;
  z-index: get-index-level(lvl3);
}

.crobat {
  display: none;
  position: absolute;
  right: -20px;
  top: 64px;
}

.zubat1 {
  display: none;
  height: 115px;
  left: -6%;
  position: absolute;
  top: 30vh;
  width: 122px;
}

.zubat2 {
  display: none;
  height: 193px;
  position: absolute;
  right: rem(-20);
  top: 50vh;
  width: 203px;
}

.zubat3 {
  bottom: 20%;
  display: none;
  left: -20%;
  position: absolute;
  top: calc(80vh - 250px);
  width: 264px;
}

@media only screen and (min-width: $xs) {
  .titleHolder {
    font-size: rem(32);
  }

  .gengar {
    height: 473px;
    width: 446px;
  }
}

@media only screen and (min-width: $md) {
  .titleHolder {
    font-size: rem(56);
  }
}

@media only screen and (min-width: $lg) {
  .container {
    padding-top: 0;
  }

  .titleContainer {
    position: absolute;
    top: calc(rem(80) + var(--header-height));
  }

  .titleHolder {
    margin-left: rem(80);
    text-align: left;
  }

  .crobat,
  .zubat1,
  .zubat2,
  .zubat3 {
    display: block;
  }
}

@media only screen and (min-width: $xl) {
  .gengar {
    bottom: 0;
    height: 680px;
    width: 686px;
  }

  .titleHolder {
    font-size: rem(68);
  }
}
