@use 'tools/index' as *;
@use 'helpers/icon.scss' as *;
@use 'animations/increasing-horizontal';
@use 'settings/_breakpoints' as *;

.header {
  background-color: get-color(primary);
}

.headerContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: rem(10);
  padding-top: rem(10);
}

.logo {
  display: block;
  height: rem(42.3);
  width: rem(110.7);
}

.logo:hover::after {
  animation: increasing-horizontal 0.25s forwards;
  background-color: get-color(secondary);
  content: '';
  display: block;
  height: rem(2);
  margin-bottom: rem(-2);
  width: 100%;
}

.rightContainer {
  align-items: center;
  display: flex;
}

.rightContainer > *:not(:last-child) {
  margin-right: rem(4);
}

.github {
  align-items: center;
  border-radius: 15%;
  display: flex;
  height: rem(45.1);
  justify-content: center;
  padding: rem(5);
  transition: background-color ease-out 0.15s;
  width: rem(46.9);

  > svg > path {
    transition: fill ease-out 0.15s;
  }
}

.github:hover,
.github:focus {
  background-color: rgba($color: get-color(light), $alpha: 15%);

  > svg > path {
    fill: get-color(secondary);
  }
}

.options {
  align-items: center;
  background-color: transparent;
  border-radius: 15%;
  border-width: 0;
  cursor: pointer;
  display: flex;
  font-size: 0;
  height: rem(45.1);
  justify-content: center;
  transition: background-color ease-out 0.15s;
  width: rem(46.9);
}

.options:hover,
.options:focus {
  background-color: rgba($color: get-color(light), $alpha: 15%);
}

.options::before {
  @include h-icon;

  color: get-color(light);
  content: get-icon(vertical-dots);
  font-size: rem(32);
  position: absolute;
  transition: color ease-out 0.2s;
}

.options:hover::before,
.options:focus::before {
  color: get-color(secondary);
}

@media only screen and (min-width: $md) {
  .rightContainer > *:not(:last-child) {
    margin-right: rem(16);
  }

  .logo {
    height: rem(47);
    width: rem(123);
  }

  .github {
    height: rem(49);
    width: rem(51);
  }

  .options {
    height: rem(48);
    width: rem(48);
  }

  .options::before {
    @include h-icon;

    content: get-icon(vertical-dots);
    font-size: rem(36);
  }
}
