@use 'tools/index' as *;
@use 'helpers/icon.scss' as *;
@use 'animations/growing-border';

.header {
  background-color: get-color(primary);
}

.headerContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: rem(10);
  padding-top: rem(10);
}

.logo {
  display: block;
}

.logo:hover::after {
  animation: growingBorder 0.25s forwards;
  background-color: get-color(secondary);
  content: '';
  display: block;
  height: rem(2);
  margin-bottom: rem(-2);
  width: 100%;
}

.rightContainer {
  align-items: center;
  display: flex;
}

.rightContainer > *:not(:last-child) {
  margin-right: rem(16);
}

.github {
  align-items: center;
  border-radius: 15%;
  display: flex;
  height: rem(50);
  justify-content: center;
  transition: background-color ease-out 0.15s;
  width: rem(50);

  > svg > path {
    transition: fill ease-out 0.15s;
  }
}

.github:hover,
.github:focus {
  background-color: rgba($color: get-color(light), $alpha: 0.15);

  > svg > path {
    fill: get-color(secondary);
  }
}

.options {
  align-items: center;
  background-color: transparent;
  border-radius: 15%;
  border-width: 0;
  cursor: pointer;
  display: flex;
  font-size: 0;
  height: rem(48);
  justify-content: center;
  transition: background-color ease-out 0.15s;
  width: rem(48);
}

.options:hover,
.options:focus {
  background-color: rgba($color: get-color(light), $alpha: 0.15);
}

.options::before {
  @include h-icon;

  color: get-color(light);
  content: get-icon(vertical-dots);
  font-size: rem(36);
  position: absolute;
  transition: color ease-out 0.2s;
}

.options:hover::before,
.options:focus::before {
  color: get-color(secondary);
}
