@use 'tools/index' as *;
@use 'helpers/icon.scss' as *;
@use 'animations/increasing-horizontal';
@use 'settings/_breakpoints' as *;

.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: get-index-level(lvl4);
}

.headerBackground {
  background-color: get-color(primary);
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
  height: var(--header-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: get-index-level(lvl2);
}

.scrolled {
  z-index: get-index-level(lvl3);
}

.headerContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: rem(14);
  padding-top: rem(14);
}

.logo {
  display: block;
  height: rem(42.3);
  width: rem(110.7);
}

.logo:hover::after {
  animation: increasing-horizontal 0.25s forwards;
  background-color: get-color(secondary);
  content: '';
  display: block;
  height: rem(2);
  margin-bottom: rem(-2);
  width: 100%;
}

.search {
  max-width: 90%;
  padding-right: rem(20);
  width: 100%;
}

.rightContainer {
  align-items: center;
  display: flex;
}

.rightContainer > *:not(:last-child) {
  margin-right: rem(4);
}

.iconButton {
  align-items: center;
  background-color: transparent;
  border-radius: 15%;
  border-style: solid;
  border-width: 0;
  color: get-color(light);
  cursor: pointer;
  display: flex;
  font-size: 0;
  height: rem(48);
  justify-content: center;
  transition: background-color ease-out 0.15s;
  width: rem(48);

  > svg > path {
    transition: color ease-out 0.15s;
  }
}

.iconButton:hover,
.iconButton:focus {
  background-color: rgba($color: get-color(light), $alpha: 15%);
  color: get-color(secondary);
}

.icon {
  display: block;
  height: rem(36);
  width: rem(36);
}

.hiddenMobileItem {
  display: none;
}

.optionsMenu {
  position: relative;
}

@media only screen and (min-width: $md) {
  .hiddenMobileItem {
    display: flex;
  }

  .rightContainer > *:not(:last-child) {
    margin-right: rem(16);
  }

  .logo {
    height: rem(47);
    width: rem(123);
  }

  .search {
    max-width: 52%;
    width: 100%;
  }

  .iconButton {
    height: rem(48);
    width: rem(48);
  }

  .icon {
    width: rem(38);
  }
}
